<div class="header">
  <div class="desktop-header">
    <div class="desktop-header-contnet">
      <div class="row align-items-center">
        <div class="col-2">
          <div class="logo">
            <a href="/">
              <img src="/media/icon/logo_white.webp" alt="logo" />
            </a>
          </div>
        </div>
        <div class="col-8">
          <div class="header-link">
            <ul>
              <a href="/">
                <li>Home</li>
              </a>
              <a href="/about-us">
                <li>About Us</li>
              </a>


              <li class="header-dropdown">
                Universities <i class="fa-solid fa-caret-down"></i>
                <ul class="header-dropdown-menu">
                  <a href="/university/yerevan-haybusak-university">
                    <li>Yerevan Haybusak University</li>
                  </a>
                  <a href="/university/mkhitar-gosh-armenian-russian-international-university">
                    <li>Mkhitar Gosh University</li>
                  </a>
                  <a href="/university/gladzor-university">
                    <li>Gladzor University</li>
                  </a>
                  <a href="/university/progress-medical-university">
                    <li>Progress Medical University</li>
                  </a>
                  <a href="/university/east-west-university">
                    <li>East West University</li>
                  </a>
                </ul>
              </li>

              <li class="header-dropdown">
                Countries <i class="fa-solid fa-caret-down"></i>
                <ul class="header-dropdown-menu">
                  <a href="/mbbs">
                    <li>MBBS</li>
                  </a>
                  <a href="/country/mbbs-in-armenia">
                    <li>MBBS in Armenia</li>
                  </a>
                  <a href="/country/mbbs-in-georgia">
                    <li>MBBS in Georgia</li>
                  </a>
                  <a href="/country/mbbs-in-abroad">
                    <li>MBBS in Abroad</li>
                  </a>

                </ul>
              </li>
              <a href="/gallery">
                <li>Gallery</li>
              </a>
              <a href="/contact-us">
                <li>Contact Us</li>
              </a>


            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="header-btn">
            <div class="header-menu">
              <i class="fa-solid fa-bars"></i>
            </div>
            <button><i class="fa-solid fa-file-invoice me-1"></i> Apply Now</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- ✅ Mobile Header -->
  <div class="mobile-header d-flex justify-content-between align-items-center px-3 py-2 d-lg-none">
    <div class="mobile-logo">
      <img src="/media/icon/logo.webp" alt="Logo" />
    </div>
    <div class="mobile-menu-icon">
      <i class="fa-solid fa-bars fs-3"></i>
    </div>
  </div>

  <!-- ✅ Overlay -->
  <div class="overlay"></div>

  <!-- ✅ Mobile Menu Drawer -->
  <div class="mobile-menu">
    <ul>
      <a href="/">
        <li>Home</li>
      </a>
      <a href="/about-us">
        <li>About Us</li>
      </a>

      <li class="header-dropdown">
        Universities <i class="fa-solid fa-caret-down"></i>
        <ul class="header-dropdown-menu">
          <a href="/university/yerevan-haybusak-university">
            <li>Yerevan Haybusak University</li>
          </a>
          <a href="/university/mkhitar-gosh-armenian-russian-international-university">
            <li>Mkhitar Gosh University</li>
          </a>
          <a href="/university/gladzor-university">
            <li>Gladzor University</li>
          </a>
          <a href="/university/progress-medical-university">
            <li>Progress Medical University</li>
          </a>
          <a href="/university/east-west-university">
            <li>East West University</li>
          </a>
        </ul>
      </li>

      <li class="header-dropdown">
        Countries <i class="fa-solid fa-caret-down"></i>
        <ul class="header-dropdown-menu">
          <a href="/mbbs">
            <li>MBBS</li>
          </a>
          <a href="/country/mbbs-in-armenia">
            <li>MBBS in Armenia</li>
          </a>
          <a href="/country/mbbs-in-georgia">
            <li>MBBS in Georgia</li>
          </a>
          <a href="/country/mbbs-in-abroad">
            <li>MBBS in Abroad</li>
          </a>
        </ul>
      </li>

      <a href="/gallery">
        <li>Gallery</li>
      </a>
      <a href="/contact-us">
        <li>Contact Us</li>
      </a>
    </ul>
    <button><i class="fa-solid fa-file-invoice me-1"></i> Apply Now</button>
    
      <a href="/">
        <img class="w-100" src="/media/icon/logo.webp" alt="logo" />
      </a>
   
  </div>
</div>