<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/hearderlink.ejs') %>
        <title>Document</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="page-contect">
            <div class="breadcrumb">
                <img src="/media/banner/about-us.png" alt="breadcrumb" class="breadcrumb-bg">
                <div class="breadcrumb-content">
                    <h2>About-us</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>About-us</li>
                    </ol>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="about-page-left">
                            <div class="sub-heading">
                                AWASTHI ORBIT CAREER
                            </div>
                            <h1>Know More About Us!</h1>
                            <p class="About-content">
                                AWASTHI ORBIT CAREER is a known brand in helping the Indian students to pursue a
                                successful
                                career in the field of medicine based on MBBS in abroad programs. Our experienced and
                                zealous team has ensured that fulfilling our mission of ensuring that the road to
                                international medical education is easy and straightforward to Indian aspirants.
                            </p>
                            <p class="About-content">
                                We are not only committed to consultancy, but offer you a full package according to your
                                academic and professional aspirations. Our staff has many years of combined experience
                                in
                                which they have assisted hundreds of thousands of students to reach their dream of
                                graduating into a globally recognized doctor. You need MBBS in Armenia, MBBS in Georgia,
                                any
                                other place, we are the one you are going to go through all the steps with.
                            </p>
                            <h2>How Do We Help You Achieve Your Goal?</h2>
                            .<p class="sub-heading">
                                What Makes Us Your Perfect Partner for MBBS Abroad?
                            </p>
                            <p class="About-content">
                                The main focus of our team at the AWASTHI ORBIT CAREER is to assist you in making wise
                                choices when it comes to your medical schooling. We provide:
                            </p>
                            <ul class="About-content">
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li> Detailed information on higher educational institutions, the syllabus,
                                        eligibility
                                        and
                                        admission.</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Career counseling on one-on-one basis to suit you to the course and country.
                                    </li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Step-by-step can be documented and visa support, as well as post-arrival
                                        support.
                                    </li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Complete transparency regarding the fees of MBBS in abroad among Indian students
                                        and
                                        the
                                        scholarship opportunities at your disposal.
                                    </li>
                                </span>
                            </ul>
                            <p class="About-content">
                                We are a student-centric organization and we are very proud of it. Our counselors and
                                support personnel are committed to learning your dreams and providing open, candid and
                                dependable solutions
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="about-page-right">
                            <div class="about-page-image">
                                <img src="/media/image/santosh5.jpg" alt="" />
                            </div>
                            <h2>Why Students Prefer Us?</h2>
                            <p class="About-content">
                                We have a student first approach, transparency and professionalism that has placed us as
                                a
                                preferred MBBS abroad consultancy. We ensure:
                            </p>
                            <ul class="About-content">
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li> Complete, perfect and updated knowledge of MBBS in abroad fee structure.</li>
                                </span>

                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Student support to study MBBS in foreign countries at minimal expenses.

                                    </li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Ongoing mentorship throughout the duration of the program—right until graduation
                                    </li>
                                </span>
                            </ul>
                            <p class="About-content">
                                We will do everything to assist you in your quest to know about MBBS in abroad how many
                                years it must be studied, whether NEET is mandatory and how you can apply to get MBBS
                                abroad
                                with scholarship.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-Journey" data-aos="fade-up">
                <div class="sub-heading">Start Your Journey Today!</div>
                <p>You want to become a doctor by pursuing MBBS in abroad but you never qualified because you did not
                    study
                    under AWASTHI ORBIT CAREER. We have everything you may be interested in, starting with our
                    assistance in
                    the exploration of MBBS in Armenia among Indian students fees and going on to the comparison of MBBS
                    in
                    Georgia and India.
                </p>
                <p>“ The future is of people who believe in beauty of their dreams.”
                </p>
                <p>Making your medical dream come true, together.
                </p>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <article class="about-card">
                            <div class="about-image">
                                <!-- Replace 'image.jpg' with your actual image -->
                                <img src="/media/banner/OurVision.png"
                                    alt="Students / medical education illustration" />
                            </div>

                            <div class="about-body">
                                <h3 class="about-title">Our Vision</h3>
                                <p class="about-text">
                                    Providing real assistance to the students who need MBBS in foreign countries at low
                                    expenses among Indian students. Supporting the idea of medical education among such
                                    countries as Armenia and Georgia. Empowering the Indian youth with the means and
                                    knowledge they should obtain to carry out their dream without restriction in terms
                                    of
                                    finances or information.
                                </p>
                            </div>
                        </article>

                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <article class="about-card">
                            <div class="about-image">
                                <!-- Replace 'image.jpg' with your actual image -->
                                <img src="/media/banner/Our-Mission.png"
                                    alt="Students / medical education illustration" />
                            </div>

                            <div class="about-body">
                                <h3 class="about-title">Our Mission</h3>
                                <p class="about-text">
                                    We are resolved to become the most reliable MBBS abroad consultancy in India by:
                                    Helping students to know the most appropriate ones overseas. Assuring open and
                                    ethical
                                    directions. Full hand-holding, which includes the initial counseling session up to
                                    graduation day.

                                </p>
                            </div>
                        </article>

                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <article class="about-card">
                            <div class="about-image">
                                <!-- Replace 'image.jpg' with your actual image -->
                                <img src="/media/banner/Core-Principles.png"
                                    alt="Students / medical education illustration" />
                            </div>

                            <div class="about-body">
                                <h3 class="about-title">Our Core Principles</h3>
                                <p class="about-text">
                                    Integrity: We are convinced in giving accurate, updated and truthful information to
                                    all
                                    students.
                                    Dedication: we accompany you during your studies in foreign nations.
                                    Excellence: We aim at providing quality services and satisfaction to students.

                                </p>
                            </div>
                        </article>

                    </div>
                </div>
                <div class="about-mbbs">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-lg-4">
                            <img src="/media/icon/Armenia.webp" alt="">
                        </div>
                        <div class="col-sm-12 col-lg-8">
                            <div class="sub-heading">
                                MBBS in Armenia
                            </div>
                            <p class="About-content">
                                Armenia is rapidly emerging as a leading destination of Indian students seeking medical
                                education.


                            </p>
                            <ul class="About-content">
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>The MBBS in Armenia is a course which can be pursued by Indian students at
                                        affordable fee, and it is a globally recognized degree.</li>
                                </span>

                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>The MBBS course in Armenia lasts a standard of 6 years with internship.</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>MBBS in Armenia strengths and weaknesses: As affordable and the quality of
                                        education
                                        is high, students are forced to adjust to a new culture and environment.</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>The cost of MBBS in Armenia is one of the cheapest in Europe.</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Our group promises to give the students a smooth ride with the interest of
                                        studying
                                        the Armenia MBBS among Indian students.</li>
                                </span>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="about-mbbs">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-lg-8">
                            <div class="sub-heading">
                                MBBS in Georgia
                            </div>
                            <p class="About-content">
                                Another destination preferred in the list of Indian medical aspirants is Georgia because
                                of
                                the quality education and the international exposure.
                            </p>
                            <ul class="About-content">
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>MBBS programs in Georgia among the Indian students are taught in English and are
                                        accepted by the major medical councils.</li>
                                </span>

                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>MBBS in Georgia duration is generally 6 years.</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>The fees for MBBS in Georgia are competitive and affordable.</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>MBBS in Georgia vs India comparison: There are no capitation fees, up to date
                                        infrastructure and global exposure.</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Be aware of the MBBS in Georgia qualifications including NEET qualification,
                                        academic percentage and documentation.</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Get complete help with a fee of MBBS in Georgia and visa service to Indian
                                        students.
                                    </li>
                                </span>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <img src="/media/icon/Georgia.webp" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>

</body>

</html>