<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/hearderlink.ejs') %>
        <title>Document</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="page-contect">
            <div class="breadcrumb">
                <img src="/media/banner/Contact-us.png" alt="breadcrumb" class="breadcrumb-bg">
                <div class="breadcrumb-content">
                    <h2>Contact-us</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Contact-us</li>
                    </ol>
                </div>
            </div>
            <div class="container">
                <div class="contact-form-content mt-5 mb-5">
                    <div class="row">
                        <div class="col-lg-12 col-xl-6">
                            <div class="contact-text ">
                                <h2 class="sub-heading"> Get in Touch</h2>
                                <p>Fill out the contact form on our website, and we’ll get back to you as soon as
                                    possible.
                                    Let’s
                                    discuss how we can assist you or your loved ones with <strong>the best home nursing
                                        services in
                                        Jaipur</strong> and
                                    beyond.
                                </p>
                            </div>
                            <div class="contact-address">
                                <div class="contact-info">
                                    <span>
                                        <i class="fa-solid fa-location-dot"></i>
                                    </span>
                                    <div>
                                        <h3 class="sub-heading">Office</h3>
                                        <p>Bhaskar Enclave A-61 Giriraj Nagar, Mansarovar Jaipur, Rajasthan 302029 India
                                        </p>
                                    </div>

                                </div>
                                <div class="contact-info">
                                    <span>
                                        <i class="fa-solid fa-phone-volume"></i>
                                    </span>
                                    <div>
                                        <h3 class="sub-heading">Student Helpline Number</h3>
                                        <p>9784177634</p>
                                    </div>

                                </div>
                                <div class="contact-info">
                                    <span>
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                    <div>
                                        <h3 class="sub-heading">Mail us for information</h3>
                                        <p>awasthiorbitcarrer@gmail.com</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <%- include('../partials/contactform.ejs') %>
                        </div>

                    </div>
                </div>

            </div>
            <div class="google-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.8663474049868!2d75.73668397543713!3d26.844202976688013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db59d4ae4cf33%3A0x3e3385390829991!2sAwasthi%20orbit%20carrer%20%7C%20MBBS%20in%20Armenia%2C%20Georgia!5e0!3m2!1sen!2sin!4v1758625423986!5m2!1sen!2sin"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>

</body>

</html>