<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/hearderlink.ejs') %>
        <title>Document</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="page-contect">
            <div class="breadcrumb">
                <img src="/media/banner/gallery.png" alt="breadcrumb" class="breadcrumb-bg">
                <div class="breadcrumb-content">
                    <h2>Gallery</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Gallery</li>
                    </ol>
                </div>
            </div>
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back"
                                src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card2">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back"
                                src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card2">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                     <div class="col-lg-6 col-xl-3">
                        <div class="student-card">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back"
                                src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card2">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back"
                                src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card2">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                     <div class="col-lg-6 col-xl-3">
                        <div class="student-card">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back"
                                src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card2">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back"
                                src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card2">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                     <div class="col-lg-6 col-xl-3">
                        <div class="student-card">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back"
                                src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card2">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back"
                                src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="student-card2">
                            <img class="front"
                                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=900&q=80"
                                alt="Student Front">
                            <img class="back" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=900&q=80"
                                alt="Student Back">
                        </div>
                    </div>
                   
                </div>




            </div>
        </div>
        <%- include('../partials/footer.ejs') %>

</body>

</html>