<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/hearderlink.ejs') %>
        <title>Document</title>
</head>

<body>

    <%- include('../partials/header.ejs') %>
        <div class="page-contect">
            <div class="banner-swiper">
                <div class="swiper myBannerSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/media/banner/banner-1.webp" />
                            <div class="banner-content">

                                <div class="banner-sub-title">EXPLORE THE ADVANTAGES OF </div>
                                <h2 class="banner-title">Pursuing MBBS in Russia </h2>
                                <a class="banner-link button-primary-lg" href="#"><span>Register Now</span></a>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/icon/Yerevan-Haybusak-University.webp" />
                            <div class="banner-content">

                                <div class="banner-sub-title">EXPLORE THE TOP MEDICAL </div>
                                <h2 class="banner-title">Universities in Abroad </h2>
                                <a class="banner-link button-primary-lg" href="#"><span>Select Your
                                        University</span></a>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/banner/banner-3.webp" />
                            <div class="banner-content">

                                <div class="banner-sub-title">STAY AHEAD WITH OUR UPCOMING EVENTS </div>
                                <h2 class="banner-title">Meet Us in Your City </h2>
                                <a class="banner-link button-primary-lg" href="#"><span>Explore Events</span></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="wlc-section">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="wlc-section-left">
                                <div class="sub-heading">
                                    WHO WE ARE
                                </div>
                                <div class="heading">
                                    <h2>Welcome To Awasthi Orbit Carrer</h2>
                                </div>
                                <div class="wlc-section-content">
                                    AWASTHI ORBIT CAREER has been long-established in the field of international medical
                                    education whereby it has helped aspiring doctors in achieving their dreams of
                                    pursuing
                                    MBBS
                                    in a foreign country in the best places such as Armenia and Georgia. Having
                                    experience
                                    and a
                                    student-first philosophy we have been able to assist thousands of students in
                                    getting
                                    into
                                    the right track of pursuing global medical careers.

                                </div>
                                <div class="wlc-section-point mt-4">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <div class="wlc-section-point-item">
                                                <span><i class="fa-solid fa-circle-check"></i></span>
                                                <p>Personalized Guidance</p>
                                            </div>
                                            <div class="wlc-section-point-item">
                                                <span><i class="fa-solid fa-circle-check"></i></span>
                                                <p> Complete Transparency</p>
                                            </div>
                                            <div class="wlc-section-point-item">
                                                <span><i class="fa-solid fa-circle-check"></i></span>
                                                <p> Affiliated with Top Govt. Universities</p>
                                            </div>
                                            <div class="wlc-section-point-item">
                                                <span><i class="fa-solid fa-circle-check"></i></span>
                                                <p>30+ Years of Collective Experience in education consultancy.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <div class="wlc-section-point-item">
                                                <span><i class="fa-solid fa-circle-check"></i></span>
                                                <p>Affordable MBBS Abroad Options</p>
                                            </div>
                                            <div class="wlc-section-point-item">
                                                <span><i class="fa-solid fa-circle-check"></i></span>
                                                <p>Dedicated Support in Foreign Countries</p>
                                            </div>
                                            <div class="wlc-section-point-item">
                                                <span><i class="fa-solid fa-circle-check"></i></span>
                                                <p>5,000+ Active Students Trust Us with their future</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <%- include('../partials/contactform.ejs') %>
                        </div>
                    </div>
                </div>
            </div>
            <section class="university-section">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-lg-4" data-aos="slide-left">
                            <div class="sub-heading">
                                Top Places to Study MBBS Program in Armenia
                            </div>
                            <div class="heading">
                                <h2> Top Medical Universities in Armenia for Indian Students</h2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-8" data-aos="slide-right">
                            <div class="university-section-content">At AWASTHI ORBIT CAREER, we don’t just provide
                                options—we provide opportunities. Whether you’re aiming for MBBS in Armenia, MBBS in
                                Georgia, or any other MBBS abroad destination, our team of experienced consultants
                                ensures a smooth, stress-free admission process.

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="university-cards">
                <div class="university-card">
                    <img src="/media/icon/Yerevan-Haybusak-University.webp" alt="">
                    <h3>Yerevan Haybusak University</h3>

                    <div class="overlay">
                        <a href="/university/yerevan-haybusak-university" class="detail-btn">View Details</a>
                    </div>
                </div>
                <div class="university-card">
                    <img src="/media/icon/mkhitar-gosh-armenian.webp" alt="">
                    <h3>Mkhitar Gosh Armenian Russian International University</h3>
                    <div class="overlay">
                        <a href="/university/mkhitar-gosh-armenian-russian-international-university"
                            class="detail-btn">View Details</a>
                    </div>
                </div>
                <div class="university-card">
                    <img src="/media/icon/east-west-university.webp" alt="">
                    <h3>East West University</h3>
                    <div class="overlay">
                        <a href="/university/east-west-university" class="detail-btn">View Details</a>
                    </div>
                </div>
            </div>
            <div class="service-section">
                <div class="container">
                    <div class="service-heading">
                        <span>HOW DO WE HELP?</span>
                        <h3>Services At Awasthi Orbit Carrer</h3>
                        <p>An MBBS degree in Russia for Indian students promises an unmatched scope and opportunities.
                            At Awasthi Orbit career, we aim to make the best out of your stay and learning abroad with
                            our exclusive
                            services.
                            Because we are there not only for your admission but also for your graduation!</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            <div class="service-box" data-aos="fade-left">
                                <div class="service-box-icon">
                                    <i class="far fa-edit"></i>
                                </div>
                                <div class="service-box-content">
                                    <h3> <a href="#">100% Admission Support</a> </h3>
                                    <p>From university selection to all the paperwork, we offer you with complete
                                        support
                                        for
                                        your admission.</p>
                                </div>
                            </div>
                            <div class="service-box" data-aos="fade-left">
                                <div class="service-box-icon">
                                    <i class="far fa-paper-plane"></i>
                                </div>
                                <div class="service-box-content">
                                    <h3> <a href="#">Visa & Travel Arrangements</a> </h3>
                                    <p>Heckle free Visa procurement and best fared air travels, get the maximum
                                        benefits,
                                        throughout the course.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="swiper myServiceSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/media/image/santosh1.webp" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/media/image/santosh2.webp" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/media/image/santosh3.webp" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/media/image/santosh4.webp" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="service-box" data-aos="fade-right">
                                <div class="service-box-icon">
                                    <i class="fas fa-microscope"></i>
                                </div>
                                <div class="service-box-content">
                                    <h3> <a href="#">FMGE/NExT Coaching</a> </h3>
                                    <p>Attend FMGE/NExT Coaching during your study, within the university and get the
                                        best
                                        career guidance from the experts.</p>
                                </div>
                            </div>
                            <div class="service-box" data-aos="fade-right">
                                <div class="service-box-icon">
                                    <i class="far fa-building"></i>
                                </div>
                                <div class="service-box-content">
                                    <h3> <a href="#">Hostels, Canteens & more</a> </h3>
                                    <p>Get comfy hostels, Indian canteens, and many other benefits during your stay in
                                        Russia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-section">
                <div class="container">
                    <div class="row  align-items-center">
                        <div class="col-sm-12 col-lg-4">
                            <div class="contact-secation-image">
                                <img class="girl-image"
                                    src="https://www.ruseducation.in/wp-content/uploads/2022/03/home_02-1-1-1.webp"
                                    alt="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-8">
                            <div class="contact-secation-contant">
                                <h3>Leave us your contact details here!</h3>
                                <p>Awasthi Orbit Carrer is a pioneer in facilitating the dreams of young aspirers who
                                    wish
                                    to
                                    become doctors with an MBBS program in Russia. The team has been working with
                                    tremendous
                                    support since 1991. With our grandeur reach, we have helped make more than 50,000+
                                    dreams of
                                    becoming a successful doctor a reality. India's premier ISO 9001 : 2015 accredited
                                    medical
                                    education facilitator engaged in student recruitment to specifically Medical
                                    Government
                                    Universities.</p>
                                <button>Apply Now >></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ">
                <div class="row ">
                    <div class="sub-heading mt-5 mb-3">
                        Top Places to Study MBBS Program
                    </div>
                    <div class="col-sm-12 col-lg-4">

                        <div class="university-card">
                            <img class="w-100" src="/media/image/armenia-city.webp" alt="">
                            <h3>MBBS in Armenia</h3>

                            <div class="overlay">
                                <a href="/country/mbbs-in-armenia" class="detail-btn">View Details</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-lg-4">

                        <div class="university-card">
                            <img class="w-100" src="/media/image/gorgia-city.webp" alt="">
                            <h3>MBBS in Gorgia</h3>

                            <div class="overlay">
                                <a href="/country/mbbs-in-georgia" class="detail-btn">View Details</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-lg-4">

                        <div class="university-card">
                            <img class="w-100" src="/media/image/russia-city.webp" alt="">
                            <h3>MBBS in Russia</h3>

                            <div class="overlay">
                                <a href="/country/mbbs-in-abroad" class="detail-btn">View Details</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="contact-section">
                <div class="container">
                    <div class="row  align-items-center">
                        <div class="col-sm-12 col-lg-8">
                            <div class="contact-secation-contant">
                                <div class="sub-heading">
                                    Your Mentor
                                </div>
                                <h3>Dr. Dushyant Awasthi</h3>
                                <p>Dr. Dushyant Awasthi, is a highly qualified MD Physician who has pursued his medical
                                    education in Armenia. With his rich academic background and practical exposure in
                                    international medical standards, Dr. Awasthi not only brings medical expertise but
                                    also
                                    a global perspective in healthcare and medical education.<br />

                                    As a mentor, he understands the challenges faced by aspiring students who wish to
                                    build
                                    a career in medicine abroad. His own journey from India to Armenia has given him
                                    first-hand experience of international medical studies, cultural adaptation, and
                                    professional growth. <br />
                                    His expertise, mentorship, and approachable nature make him not just a mentor, but a
                                    true inspiration for students who dream of becoming successful medical
                                    professionals.
                                </p>

                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <div class="contact-secation-image">
                                <img src="/media/image/Dr.Dushyant.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-4">
                <div class="latest-update-secation">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-lg-4">
                            <div class="sub-heading">Do Not Miss Any Update!</div>
                            <div class="heading">
                                <h2>Know What’s Latest</h2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-8">
                            <div class="latest-update-details">
                                <p>Latest updates on NEET UG, NEET PG, MBBS in Russia, MBBS abroad and all the recent
                                    happenings
                                    at At Awasthi Orbit career, catch them all at a single place.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-4">
                            <div class="latest-update-card">
                                <div class="image-wrapper">
                                    <img src="https://img.freepik.com/free-photo/writing-hand-pen_1112-117.jpg"
                                        alt="Exam update">
                                    <div class="date-badge">August 5, 2025</div>
                                </div>
                                <div class="content">
                                    <h3>FMGE January 2026: NBEMS Releases Tentative Exam Date for December 2025 Session
                                    </h3>
                                    <p>
                                        The National Board of Examinations in Medical Sciences (NBEMS) has officially
                                        announced
                                        the tentative FMGE December 2025 session date. The...
                                    </p>
                                    <a href="#">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <div class="latest-update-card">
                                <div class="image-wrapper">
                                    <img src="https://img.freepik.com/free-photo/writing-hand-pen_1112-117.jpg"
                                        alt="Exam update">
                                    <div class="date-badge">August 5, 2025</div>
                                </div>
                                <div class="content">
                                    <h3>FMGE January 2026: NBEMS Releases Tentative Exam Date for December 2025 Session
                                    </h3>
                                    <p>
                                        The National Board of Examinations in Medical Sciences (NBEMS) has officially
                                        announced
                                        the tentative FMGE December 2025 session date. The...
                                    </p>
                                    <a href="#">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <div class="latest-update-card">
                                <div class="image-wrapper">
                                    <img src="https://img.freepik.com/free-photo/writing-hand-pen_1112-117.jpg"
                                        alt="Exam update">
                                    <div class="date-badge">August 5, 2025</div>
                                </div>
                                <div class="content">
                                    <h3>FMGE January 2026: NBEMS Releases Tentative Exam Date for December 2025 Session
                                    </h3>
                                    <p>
                                        The National Board of Examinations in Medical Sciences (NBEMS) has officially
                                        announced
                                        the tentative FMGE December 2025 session date. The...
                                    </p>
                                    <a href="#">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>

            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".myBannerSwiper", {
                    spaceBetween: 30,
                    effect: "fade",
                    autoplay: {
                        delay: 2000,
                        disableOnInteraction: false,
                    },
                    loop: true,

                });
                var swiper = new Swiper(".myServiceSwiper", {
                    spaceBetween: 30,
                    effect: "fade",
                    autoplay: {
                        delay: 2000,
                        disableOnInteraction: false,
                    },
                    loop: true,

                });
            </script>


</body>

</html>