<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/hearderlink.ejs') %>
        <title>Document</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="page-contect">
            <div class="breadcrumb">
                <img src="/media/banner/armenia.png" alt="breadcrumb" class="breadcrumb-bg">
                <div class="breadcrumb-content">
                    <h2>MBBS in Armenia</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>MBBS in Armenia</li>
                    </ol>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xl-9">
                        <div class="country-content">
                            <h2 class="sub-heading">MBBS in Armenia – A Gateway to a Global Medical Career</h2>
                            <p>Is studying medicine abroad part of your plans? Then why not go to Armenia which is
                                getting
                                popular
                                day by day among medical students across the world. The study of MBBS in Armenia gives
                                the
                                students
                                not only quality education but also a degree that is recognized worldwide and a very
                                economical fee
                                structure mainly if you are an Indian student.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-3">
                        <div class="mbbscountryright">
                            <img src="/media/icon/Armenia.webp" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-6">
                        <div class="country-content">
                            <h2 class="sub-heading">Why Choose MBBS in Armenia for Indian Students?</h2>
                            <p>MBBS in Armenia for Indian students is becoming increasingly popular due to: </p>
                            <ul>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Low tuition fees and living costs that are easy to meet</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Education in English</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>No donation or capitation fee</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Universities recognized by MCI/NMC and WHO</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Easy enrollment without the requirement of an entrance exam like NEET-UG (only
                                        eligibility)</li>
                                </span>
                            </ul>
                            <h2 class="sub-heading mt-4">MBBS in Armenia for Indian Students Fees Structure</h2>
                            <p>One of the most important aspects that have been driving the Indian students to decide
                                studying in Armenia is the low price of the entire process. </p>
                            <h2 class="sub-heading mt-4">Armenia MBBS fees range from:</h2>
                            <ul>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>$3,000 to $5,000 per year (Approx. ₹2.5–4.5 lakhs/year)</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Hostel and food costs: About $1,000–$1,500 per year</li>
                                </span>
                            </ul>
                            <p>Therefore, MBBS fees in Armenia for Indian students is lower to such an extent that it is
                                comparable to those in private medical colleges in India or the rest of the popular
                                destinations like the US, UK, and Australia.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-6">
                        <%- include('../partials/contactform.ejs') %>
                    </div>
                </div>
            </div>
            <div class="contact-section">
                <div class="container">
                    <div class="row  align-items-center">
                        <div class="col-lg-12 col-xl-8">
                            <div class="contact-secation-contant">
                                <div class="country-content">
                                    <h2 class="sub-heading" style="color : #fff">MBBS in Armenia Duration</h2>
                                    <p style="color : #fff">The MBBS in Armenia time span is 6 years, that consists of:
                                    </p>
                                    <ul style="color : #fff">
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>5 years of theoretical education</li>
                                        </span>
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>1 year of compulsory clinical training</li>
                                        </span>
                                    </ul>
                                    <p style="color : #fff">The clinical training can be carried out either in Armenia
                                        or in
                                        India, the choice
                                        being with the university and the medical guidelines of India.</p>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4">
                            <div class="contact-secation-image">
                                <img src="/media/image/Dr.sandeep.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="country-content">
                    <h2 class="sub-heading">Armenia MBBS for Indian Students – Admission Requirements</h2>
                    <p>To be considered for Armenia MBBS for Indian students, you should:</p>
                    <ul>
                        <span><i class="fa-solid fa-circle-check"></i>
                            <li>Age of 17 years or above</li>
                        </span>
                        <span><i class="fa-solid fa-circle-check"></i>
                            <li>Have obtained 50% or above in PCB (12th standard) from a board that is recognized</li>
                        </span>
                        <span><i class="fa-solid fa-circle-check"></i>
                            <li>Have cleared NEET-UG (according to NMC regulations).</li>
                        </span>
                    </ul>
                    <h2 class="sub-heading mt-5 mb-5">Advantages & Disadvantages of MBBS in Armenia</h2>
                    <div class="row">
                        <div class="col-lg-12 col-xl-4">
                            <div class="country-content">
                                <div class="sub-heading">
                                    Advantages:
                                </div>
                                <ul>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Low education and living costs</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>NMC, WHO, ECFMG, etc. recognized degrees</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>English medium teaching</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Safe and welcoming environment for Indian students</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Indian cuisine available in most hostels and surrounding areas</li>
                                    </span>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4">
                            <div class="university-card w-100" style="height: 225px;">
                                <img class="w-100" src="/media/image/armenia-city.png" alt="">
                                <h3>MBBS in Armenia</h3>
                                <div class="overlay"> </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4">
                            <div class="country-content">
                                <div class="sub-heading">
                                    Disadvantages:
                                </div>
                                <ul>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Language obstacle in practice in clinics (local tongue)</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Bitter cold weather conditions in winters may prove difficult</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Few opportunities for part-time employment</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Requires FMGE/NExT clearance for practice in India</li>
                                    </span>
                                    <p>Even with all these hindrances, the overall advantages of studying MBBS here for
                                        most
                                        of the students far surpass the disadvantages.</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center " style="font-size: 20px; margin :30px 0;">Is MBBS in Armenia the Right
                        Choice for You?</h3>
                    <p class="text-center ">If you are seeking low-cost, high-quality medical education that is globally
                        accepted, MBBS in Armenia is a good option. At AWASTHI ORBIT CAREER, we assist you in making the
                        proper decision—ranging from university choice to visa support and more.</p>

                </div>





            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>