<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/hearderlink.ejs') %>
        <title>Document</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>

        <div class="page-contect">
            <div class="breadcrumb">
                <img src="/media/banner/abroad.webp" alt="breadcrumb" class="breadcrumb-bg">
                <div class="breadcrumb-content">
                    <h2>MBBS in Abroad</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>MBBS in Abroad</li>
                    </ol>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xl-9">
                        <div class="country-content">
                            <h2 class="sub-heading">MBBS in Abroad – Your Gateway to a Global Medical Career!</h2>
                            <p> Welcome to AWASTHI ORBIT CAREER – Your Trusted MBBS in Abroad
                                Consultancy
                                Are you aspiring to be a doctor, but fearful of the high costs and few seats offered
                                in
                                the Indian medical colleges? At the AWASTHI ORBIT CAREER, we are in the business of
                                helping the Indian students pursue a successful career in the field of medicine in
                                MBBS
                                in abroad programs which are affordable, recognized and trusted worldwide.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-3">
                        <div class="mbbscountryright">
                            <img src="/media/icon/America.webp" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-6">
                        <div class="country-content">
                            <h2 class="sub-heading">Why Choose MBBS in Abroad?</h2>
                            <p>Pursuing an MBBS in abroad for Indian students has become a popular and practical choice.
                                Thousands of Indian students opt for medical education abroad due to:
                            </p>
                            <p>It could be another country, such as Russia, Ukraine, Kazakhstan, the Philippines,
                                Armenia,
                                Georgia, or any other one, but we will be your professional advisor at every stage of
                                the process.
                            </p>
                            <ul>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Low tuition fees</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>High-quality education</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Global recognition of degrees</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Modern infrastructure</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Multicultural exposure.</li>
                                </span>
                            </ul>
                            <h2 class="sub-heading mt-4">MBBS in Abroad Fees for Indian Students</h2>
                            <p> Affordable fee structure is one of the greatest benefits of studying MBBS in abroad at a
                                low cost among Indian students. In India, private medical colleges can cost more than 80
                                lakh, whereas abroad you can obtain MBBS at low costs, and the total course costs as
                                little as 15-25 lakh.
                            </p>
                            <p>At AWASTHI ORBIT CAREER, we assist you to know the MBBS in abroad fee structure, tuition,
                                accommodation, visa, and living expenses. We will offer you clear data regarding the
                                cost of MBBS in foreign nations to help you arrange your future.</p>
                            <h2 class="sub-heading mt-4">MBBS in Abroad with Scholarship Opportunities</h2>
                            <p>Worried about finances? We’ve got you covered! Numerous universities provide MBBS in
                                foreign country with scholarship options depending on the academic performance or on a
                                need basis. Our consultancy assists you in searching and applying to the most favorable
                                scholarship opportunities to lessen your financial load.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-6">
                        <%- include('../partials/contactform.ejs') %>
                    </div>
                </div>
            </div>
            <div class="contact-section">
                <div class="container">
                    <div class="row  align-items-center">
                        <div class="col-lg-12 col-xl-8">
                            <div class="contact-secation-contant">
                                <div class="country-content">
                                    <h2 class="sub-heading mt-4" style="color : #fff">Our Services – MBBS in Abroad
                                        Consultancy</h2>
                                    <p style="color : #fff">Being on of the most popular MBBS in abroad consultancy,
                                        AWASTHI ORBIT CAREER provides one-stop services such as:
                                        Career guidance & nation choice

                                    </p>
                                    <ul style="color : #fff">
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>College application & admission services.</li>
                                        </span>
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>Visa support & documentation</li>
                                        </span>
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>Accommodation arrangement</li>
                                        </span>
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>Pre-departure/ post-arrival support.</li>
                                        </span>
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>FMGE/NExT coaching guidance</li>
                                        </span>
                                    </ul>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4">
                            <div class="contact-secation-image">
                                <img src="/media/image/Dr.students.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="country-content">
                    <div class="row">
                        <div class="col-lg-12 col-xl-4">
                            <div class="country-content">
                                <div class="sub-heading">
                                    MBBS in Abroad – Duration of Study
                                </div>
                                <p>MBBS in abroad how many years? That’s a common question. Usually, the MBBS in foreign
                                    countries lasts between 5-6 years according to the country and the university. This
                                    will incorporate academic training and internship/clinical rotations.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4">
                            <div class="university-card w-100 " style="height: 225px;">
                                <img class="w-100" src="/media/image/russia-city.webp" alt="">
                                <h3>MBBS in Abroad</h3>
                                <div class="overlay"> </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4">
                            <div class="country-content">
                                <div class="sub-heading">
                                    Is NEET Required for MBBS in Abroad?
                                </div>
                                <p>Yes, the NMC (formerly Medical Council in India) requires NEET in MBBS in foreign
                                    countries. Indian students need to pass NEET, in order to be offered admission and
                                    subsequently practice in India once they have gotten their degree in foreign
                                    countries.
                                </p>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center " style="font-size: 20px; margin :30px 0;">Start Your Journey Today!</h3>
                    <p class="text-center ">Baffled by MBBS in foreign countries by Indian students? AWASTHI ORBIT
                        CAREER Be your light. Having the years of experience and a good record, we are determined to
                        make your dream of being a doctor come true.
                    </p>
                    <p class="text-center ">Contact us or come to our office and get a free consultation and start on a hassle-free path to
                        the successful medical career.
                    </p>

                </div>





            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>