<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/hearderlink.ejs') %>
        <title>Document</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>

        <div class="page-contect">
            <div class="breadcrumb">
                <img src="/media/banner/georgia.png" alt="breadcrumb" class="breadcrumb-bg">
                <div class="breadcrumb-content">
                    <h2>MBBS in Georgia</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>MBBS in Georgia</li>
                    </ol>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xl-9">
                        <div class="country-content">
                            <h2 class="sub-heading">MBBS in Georgia: A Complete Guide for Indian Students</h2>
                            <p>Do you wish to study abroad and be a doctor? The MBBS in Georgia has become one of the
                                most demanded programs among the Indian students due to the international standard of
                                the school system, low tuition fee and internationally approved medical qualifications.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-3">
                        <div class="mbbscountryright">
                            <img src="/media/icon/Georgia.webp" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-6">
                        <div class="country-content">
                            <h2 class="sub-heading">Why Choose MBBS in Georgia?</h2>
                            <p>MBBS in Georgia is the correct one of quality education and low price. International
                                accreditation organizations (WHO, NMC (MCI), WFME, and FAIMER) grant accreditation to
                                Georgian medical universities and this is the reason why graduates can work on the
                                global arena.</p>
                            <ul>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>English-medium instruction</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>No entrance tests such as NEET-UG in Georgia (NEET was only needed as an Indian
                                        qualification test)</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Low tuition and living expenses.</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Internationally accepted degrees.</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Good infrastructure and clinical exposure.</li>
                                </span>
                            </ul>
                            <h2 class="sub-heading mt-4">MBBS in Georgia Duration</h2>
                            <p>The overall MBBS in Georgia is 6 years, consisting of 5 years of academic studies and 1
                                year of compulsory clinical internship. This organization will guarantee that students
                                are properly prepared in terms of theoretical understanding and practical exposure.</p>
                            <h2 class="sub-heading mt-4">MBBS in Georgia Fees Structure</h2>
                            <p>The low cost of education can be considered one of the greatest benefits to Indian
                                students. The MBBS in Georgia costs between 3.5 lakhs and 6 lakhs annually on average
                                depending on the university.</p>
                            <ul>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Tuition Fee: 18lakhs to 30lakhs (per course)</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>Hostel & Food: ₹15,000 to ₹25,000 per month</li>
                                </span>
                                <span><i class="fa-solid fa-circle-check"></i>
                                    <li>No donation fees or charges of capitation.</li>
                                </span>
                            </ul>
                            <p>This renders the MBBS in Georgia among Indian students costs far less as compared to the
                                private medical colleges in India.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-6">
                        <%- include('../partials/contactform.ejs') %>
                    </div>
                </div>
            </div>
            <div class="contact-section">
                <div class="container">
                    <div class="row  align-items-center">
                        <div class="col-lg-12 col-xl-8">
                            <div class="contact-secation-contant">
                                <div class="country-content">
                                    <h2 class="sub-heading mt-4" style="color : #fff">MBBS in Georgia for Indian
                                        Students: Why It's a Smart Choice</h2>
                                    <p style="color : #fff">Each year, the number of Indian students who opt to study
                                        MBBS in Georgia is many thousands because of:
                                    </p>
                                    <ul style="color : #fff">
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>Friendly environment for international students</li>
                                        </span>
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>Indian food availability in hostels</li>
                                        </span>
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>Strong Indian student community</li>
                                        </span>
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>Simplified visa and admission process</li>
                                        </span>
                                        <span><i class="fa-solid fa-circle-check"></i>
                                            <li>Safe and student-friendly country</li>
                                        </span>
                                    </ul>
                                    <p style="color : #fff">MBBS in Georgia for Indian students is not just about
                                        affordability—it's about accessing a global medical career with the right
                                        foundation.</p>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4">
                            <div class="contact-secation-image">
                                <img src="/media/image/Dr.student.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="country-content">
                    <h2 class="sub-heading">MBBS in Georgia VS India: A Comparative Overview</h2>
                    <table class="table table-bordered table-striped text-center align-middle shadow-sm">
                        <thead class="table-dark">
                            <tr>
                                <th>Criteria</th>
                                <th>MBBS in Georgia</th>
                                <th>MBBS in India</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Entrance Exam</td>
                                <td>No entrance exam in Georgia (NEET only for Indian eligibility)</td>
                                <td>NEET with high rank needed</td>
                            </tr>
                            <tr>
                                <td>Fees</td>
                                <td>₹18–30 lakhs total</td>
                                <td>₹50 lakhs to ₹1 crore (private colleges)</td>
                            </tr>
                            <tr>
                                <td>Donation</td>
                                <td>No donation</td>
                                <td>High donation in private colleges</td>
                            </tr>
                            <tr>
                                <td>Language</td>
                                <td>English</td>
                                <td>English/Hindi</td>
                            </tr>
                            <tr>
                                <td>Global Recognition</td>
                                <td>WHO, NMC, FAIMER</td>
                                <td>NMC</td>
                            </tr>
                            <tr>
                                <td>Internship</td>
                                <td>1 year (included)</td>
                                <td>1 year (included)</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>This comparison provides a definite indication of how the MBBS in Georgia VS India is swinging
                        towards Georgia as the preferred destination of students seeking quality medical education at a
                        cost advantageous destination abroad</p>
                    <div class="text-center mb-5">
                        <h2 class="sub-heading mt-5">MBBS in Georgia Requirements</h2>
                        <p>The requirements of the MBBS in Georgia should be known before making an application:</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-xl-4">
                            <div class="country-content">
                                <div class="sub-heading">
                                    Eligibility Criteria:
                                </div>
                                <ul>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>At least 50 percent in PCB (Physics, Chemistry, Biology) in 12 th grade (40
                                            percent in SC/ST/OBC)</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>NEET eligibility (obligatory among Indian students according to the NMC
                                            regulations)</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Valid passport</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Age: Should be 17 years and above during admission.</li>
                                    </span>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4">
                            <div class="university-card w-100" style="height: 225px;">
                                <img class="w-100" src="/media/image/gorgia-city.png" alt="">
                                <h3>MBBS in Georgia</h3>
                                <div class="overlay"> </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4">
                            <div class="country-content">
                                <div class="sub-heading">
                                    Required Documents::
                                </div>
                                <ul>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>10th and 12th mark sheets</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>NEET scorecard</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Passport</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Birth certificate</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Passport-sized photographs</li>
                                    </span>
                                    <span><i class="fa-solid fa-circle-check"></i>
                                        <li>Medical fitness certificate</li>
                                    </span>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center " style="font-size: 20px; margin :30px 0;">We are always ready to help you
                        begin your medical career today!</h3>
                    <p class="text-center ">Georgia provides one of the most excellent places to study medicine in a
                        globally-recognized and affordable setting, provided you intend to undertake your MBBS in a
                        foreign country. AWASTHI ORBIT CAREER has come to help you at every part of your path, selecting
                        the correct university, getting admission and settling in a foreign country.</p>

                </div>





            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>