<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/hearderlink.ejs') %>
        <title>Study MBBS in Georgia & Armenia | Affordable Medical Universities</title>
        <meta name="description"
            content="Get admission in top medical universities of Georgia & Armenia. Budget-friendly MBBS programs, safe environment, hostel facility & full guidance for Indian students.">

        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Awasthi Orbit Career guides MBBS in abroad" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Study MBBS in Georgia & Armenia | Affordable Medical Universities" />

        <meta property="og:description"
            content="Get admission in top medical universities of Georgia & Armenia. Budget-friendly MBBS programs, safe environment, hostel facility & full guidance for Indian students" />

        <meta property="og:url" content="https://awasthiorbitcareer.com/mbbs" />

        <meta name="twitter:card" content="summary" />

        <meta name="twitter:title" content="Study MBBS in Georgia & Armenia | Affordable Medical Universities" />

        <meta name="twitter:description"
            content="Get admission in top medical universities of Georgia & Armenia. Budget-friendly MBBS programs, safe environment, hostel facility & full guidance for Indian students" />

        <link rel="canonical" href="https://awasthiorbitcareer.com/mbbs"/>

        <style>
            .university-card {
                width: 100%;
                height: 180px;
                border: 1px solid black;
            }
        </style>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class=" page-contect">
        <div class="breadcrumb">
            <img src="/media/banner/mbbs.webp" alt="breadcrumb" class="breadcrumb-bg">
            <div class="breadcrumb-content">
                <h2>Study MBBS Abroad</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Mbbs</li>
                </ol>
            </div>
        </div>
        <div class="container">
            <div class="contact-form-content mt-5 mb-5">
                <h1 class="university-secation-heading text-center">Best Countries to Study MBBS Abroad for Indian Students</h1>
                <div class="row">
                    <div class="col-lg-12 col-xl-6">
                        <div class="row">
                            <div class="col-6 mt-5">
                                <div class="university-card mbbs-university-card">
                                    <img src="/media/icon/Armenia.webp" alt="armenia">
                                    <h3>Study MBBS in Armenia</h3>

                                    <div class="overlay">
                                        <a href="/country/mbbs-in-armenia" class="detail-btn">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-5">
                                <div class="university-card mbbs-university-card">
                                    <img src="/media/icon/Georgia.webp" alt="georgia">
                                    <h3>Study MBBS in Georgia</h3>
                                    <div class="overlay">
                                        <a href="/country/mbbs-in-georgia" class="detail-btn">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-4">
                                <div class="university-card mbbs-university-card">
                                    <img src="/media/icon/China.webp" alt="china">
                                    <h3>Study MBBS in China</h3>
                                    <div class="overlay">
                                        <a href="#" class="detail-btn">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-4">
                                <div class="university-card mbbs-university-card">
                                    <img src="/media/icon/Kyrgyzstan.webp" alt="Kyrgyzstan">
                                    <h3>Study MBBS in Kyrgyzstan</h3>
                                    <div class="overlay">
                                        <a href="#" class="detail-btn">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-4">
                                <div class="university-card mbbs-university-card">
                                    <img src="/media/icon/America.webp" alt="America">
                                    <h3>Study MBBS in America</h3>
                                    <div class="overlay">
                                        <a href="/country/mbbs-in-abroad" class="detail-btn">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-4">
                                <div class="university-card mbbs-university-card">
                                    <img src="/media/icon/Russia.webp" alt="Russia">
                                    <h3>Study MBBS in Russia</h3>
                                    <div class="overlay">
                                        <a href="#" class="detail-btn">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-6">
                        <%- include('../partials/contactform.ejs') %>
                    </div>

                </div>
            </div>

        </div>
        </div>
        <%- include('../partials/footer.ejs') %>

            </body>

</html>