<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/hearderlink.ejs') %>
        <title>Top MBBS Universities Abroad for Indian Students</title>
        <meta name="description"
            content="Top universities for MBBS abroad for Indian students. Compare fees, eligibility, ranking, and admission process for 2026 intake.">

        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Awasthi Orbit Career guides MBBS in abroad" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Top MBBS Universities Abroad for Indian Students" />

        <meta property="og:description"
            content="Top universities for MBBS abroad for Indian students. Compare fees, eligibility, ranking, and admission process for 2026 intake." />

        <meta property="og:url" content="https://awasthiorbitcareer.com/universities" />

        <meta name="twitter:card" content="summary" />

        <meta name="twitter:title" content="Top MBBS Universities Abroad for Indian Students" />

        <meta name="twitter:description"
            content="Top universities for MBBS abroad for Indian students. Compare fees, eligibility, ranking, and admission process for 2026 intake." />

        <link rel="canonical" href="https://awasthiorbitcareer.com/universities" />
        <style>
            .university-card {
                width: 100%;
                height: 180px;
            }
        </style>
</head>

<body>
    <%- include('../partials/header.ejs') %>

        <div class="page-contect">
            <div class="breadcrumb">
                <img src="/media/banner/universities.webp" alt="breadcrumb" class="breadcrumb-bg">
                <div class="breadcrumb-content">
                    <h2>Universities</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Universities</li>
                    </ol>
                </div>
            </div>
            <div class="container">
                <div class="contact-form-content mt-5 mb-5">
                    <h1 class="university-secation-heading text-center">Top Universities for MBBS Abroad for Indian
                        Students</h1>
                    <div class="row">
                        <div class="col-lg-12 col-xl-6">
                            <div class="row">
                                <div class="col-6 mt-5">
                                    <div class="university-card">
                                        <img src="/media/icon/Yerevan-Haybusak-University.webp" alt="University-img">
                                        <h3>Yerevan Haybusak University</h3>

                                        <div class="overlay">
                                            <a href="/university/yerevan-haybusak-university" class="detail-btn">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-5">
                                    <div class="university-card">
                                        <img src="/media/icon/mkhitar-gosh-armenian.webp" alt="University-img">
                                        <h3>Mkhitar Gosh Armenian Russian International University</h3>
                                        <div class="overlay">
                                            <a href="/university/mkhitar-gosh-armenian-russian-international-university"
                                                class="detail-btn">View Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-5">
                                    <div class="university-card">
                                        <img src="/media/icon/east-west-university.webp" alt="University-img">
                                        <h3>East West University</h3>
                                        <div class="overlay">
                                            <a href="/university/east-west-university" class="detail-btn">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-5">
                                    <div class="university-card">
                                        <img src="/media/icon/progress-university.webp" alt="University-img">
                                        <h3>Progress Medical University</h3>
                                        <div class="overlay">
                                            <a href="/university/progress-medical-university" class="detail-btn">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-5">
                                    <div class="university-card">
                                        <img src="/media/icon/gladzor-university.webp" alt="University-img">
                                        <h3>Gladzor University</h3>
                                        <div class="overlay">
                                            <a href="/university/gladzor-university" class="detail-btn">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <%- include('../partials/contactform.ejs') %>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>