<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('../partials/hearderlink.ejs') %>
        <title>Document</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>

        <div class="page-contect">
            <div class="breadcrumb">
                <img src="/media/banner/universities.webp" alt="breadcrumb" class="breadcrumb-bg">
                <div class="breadcrumb-content">
                    <h2>Universities</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Universities</li>
                    </ol>
                </div>
            </div>
            <div class="container">
             
            </div>
          
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>